<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Quiz.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BB7D50E81E8B917C00A83FFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB7D50FC1E8B917C00A83FFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB7D51071E8B917C00A83FFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
